/* CSS RESET */
html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td, a
{
    padding:0;
    text-decoration:none;
    color:#000000;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
}

/* GERAL */

body {
    font-family:Verdana;
    font-size:12px;
}

#tudo
{
    margin:0 auto;
    height:auto;
}

/*
    MASTERPAGE.MASTER
    */

div {
    display:block;
}


#barraUniversal
{
    min-width:1024px;
    height:72px;
    background:#eeecdd;
}
#bordaVermelhaBarra{
    min-width:1024px;
    height:3px;
    background:#e22122;
    box-shadow:
        0 2px 2px -2px #c6a8a9;        
    border-bottom:1px solid #c6a8a9;
}

#pnlBarraUniversal {
    margin-top:5px;
    background:#fff;
    box-shadow:
        0 2px 2px -2px #d5d4ce;
    border:1px solid #d5d4ce;
    padding-bottom:5px;
}
.pnlBU {
    margin-top:5px;
    padding-left:20px;
}
    .pnlBU:hover {
        background:#dcdcdc;
    }

.bULogo {
    float:left;
    padding-top:3px;
}

#bUPerfil {
    text-align:right;
    margin-top:3px;
}

.bUPerfil {
    margin-left:5px;
}

#imgBUPerfil {
    margin-right:20px;
}

#bUMenu {
    text-align:right;
    margin-top:14px;
    width:700px;
}

.bUMenu {
    font-size:14px;
    margin-left:25px;
    float:right;
}

.bUMenu:hover {text-decoration:underline}

.bUDiv {
    margin-top:1px;
    height:14px;
    width:1px;
    float:right;
    margin-left:25px;
    box-shadow:inset 0px 0px 1px 0px;
}

#bUContent {
    width:1024px;
    margin:0 auto;
}

#bURight {
    float:right;
}

#footer {
    min-width:1024px;
    height:200px;
    background:#eeecdd;
    box-shadow:
        inset 0px 11px 8px -3px #e22122;
    position:relative;
    /*top:766px;*/
    top:20px;
    vertical-align:central;
}

#ContentPlaceHolder {
    width:1024px;
    margin:0 auto;
    margin-top:30px;
    height:auto;
    overflow:auto;
}

/*
    PÁGINA DEFAULT.ASPX
    */

#defTudo {
    width:1024px;
    margin:0 auto;
}

#defColEsq {
    
    float:left;
}
#defForum {
    width:704px;
    height:350px;
}
#defSepForCol {
    margin-left:7.5px;
    width:690px;
    height:1px;
    box-shadow:inset 0px 0px 1px 0px;
}
#defColunas {
    width:704px;
    height:349px;
}


#defColDir {
    
    float:left;
}
#defSepPerf {
    margin-top:2.5px;
    width:1px;
    height:695px;
    box-shadow:inset 0px 0px 1px 0px;
    float:left;
}
#defPerfil {
    width:310px;
    height:700px;
    margin-left:9px;
}


.defPerfImg {
    float:left;
    margin-right:5px;
}

/*
=================================================================================
=================================================================================
*/

#perfilTudo {
    width:1024px;
    margin:0 auto;
}

#perfilTopo {
    height:200px;
}

.perfilCapa {
    margin-left:37px;
}

.perfilFoto {
    margin-left:37px;
    margin-top:10px;
}

#perfilNome {
    text-align:center;
    font-family:Verdana;
    font-size:25px;
    margin-top:15px;
    margin-bottom:15px;
}

#perfilDivVert {
    float:left;
    width:1px;
    height:700px;
    margin-right:5px;
    box-shadow:inset 0px 0px 1px 0px;
}

#perfilConteudo {
    text-align:center;
}

.perfilItens {
    text-align:left;
    background:#eeecdd;
    box-shadow:
        0 2px 2px -2px #d5d4ce;
    border-bottom:1px solid #d5d4ce;
    border-right:1px solid #d5d4ce;
    border-top:1px solid #d5d4ce;
    color:#3e3e3e
}

.perfilSubItens {
    color:black;
}

.perfilDivHor {
    width:300px;
    height:1px;
    box-shadow:inset 0px 0px 1px 0px;
    margin:0 auto;
    margin-top:20px;
    margin-bottom:20px;
}


/* RODAPÉ */

#footer {
    min-width:1024px;
    height:200px;
    background:#eeecdd;
    box-shadow:
        inset 0px 11px 8px -3px #e22122;
    position:relative;
    /*top:766px;*/
}
#imgRodapeEsquerdaDiv {
    float:left;
    position:absolute;
    width: 190px; 
    height:80px; 
    margin-top:20px; 
    margin-left:150px; 
    padding: 20px; 
}

#rodapeCentral {
    width: 300px; 
    height:100px; 
    position:absolute;
    margin-left:550px; 
    margin-top:30px;
    padding: 20px; 
    font-family:Verdana, Arial, Helvetica, sans-serif; 
    font-size:11px;
    color:#000; 
    float:left; 
}
#imgRodapeDireitaDiv {
   position:absolute;
    width: 130px; 
    height:70px; 
    margin-top:20px; 
    margin-left:1100px; 
    padding: 20px;
    float:right;
}
#faixaPretaRodape {
    min-width:1024px;/*largura*/
    height:20px; /*altura*/
    background-color: #333333; /*cor do fundo*/
    font-family:Verdana, Arial, Helvetica, sans-serif; 
    font-size:11px; 
    color:#FFFFFF; 
    text-align:center;
    position:relative;
    /*margin-top:745px;*/
}

